body{
      margin: 0;
      font-family: sans-serif;
      font-size: 1.3em;
    }

.icon{
      display: flex;
      align-items: center;
    }

.icon-text{
    display: flex;
    font-size: 1.8em;
    padding-top: 30px;
}


/*Header */    
header {
      padding: 20px;
      background-color: var(--secondary-color);
      text-align: center;
      color: var(--primary-color);
    }


/*Le container*/    
.main-container {
   display: grid;
   grid-template-columns: 1fr;
   grid-gap: 10px;
   padding: 20px;
}

.main-container div {
  background-color: var(--primary-color);
  border: 1px solid White;
  padding: 20px;
  text-align: center;
  color: white;
}


/*Footer*/
footer {
  color: var(--primary-color);
  padding: 20px;
  text-align: center;
  background-color: var(--secondary-color);
  grid-column: 1 / 6;
}
    

/*Media queries*/
@media (min-width: 576px) {
  .main-container {
  grid-template-columns: repeat(2, 1fr);
   }
}

@media (min-width: 768px) {
  .main-container {
  grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
      .icon{
      justify-content: center
    }      
}

@media (min-width: 992px) {
      .main-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1200px) {
  .main-container {
  grid-template-columns: repeat(6, 1fr);
  }
}

:root {
  --primary-color: #C8642D;
  --secondary-color: #37468D;
}

main:first-child {
  background-color: var(--primary-color);
}
